[submodule "Test/Lib/googletest"]
	path = Test/Lib/googletest
	url = https://github.com/abseil/googletest.git
[submodule "Src/Lib/plog"]
	path = Src/Lib/plog
	url = https://github.com/SergiusTheBest/plog.git
